.container {
  background: rgb(1, 184, 190);
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 800;
}

.inputContainer {
  width: 350px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: darkgoldenrod;
  overflow: hidden;
  box-shadow: 0 5px 25px black;
  margin-bottom: 30px;
}
.input {
  width: 80%;
  height: 35px;
  border: none;
  outline: none;
  padding: 0 5px;
}
.button {
  width: 20%;
  height: 35px;
  border: none;
  font-weight: 800;
  color: white;
  background: #07003a;
  cursor: pointer;
  transition: 300ms;
}

.button:hover {
  background: rgb(28, 172, 177);
}

.delete{
  width: 20%;
  height: 35px;
  border-radius: 7px;
  border-color: rgb(1, 184, 190);
  font-weight: 800;
  color: white;
  background: #07003a;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 300ms;
  margin-top: 8px;
  margin-bottom: 20px;
}
.delete:hover{
  background-color: #0390a2;
}

.cardContainer {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #07003a;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2);
  margin-bottom: 3px;
  
}

.cardTitle {
  padding: 10px 5px;
  font-size: 14px;
}
.buttonX{
  width: 20%;
  height: 35px;
  border: none;
  font-weight: 800;
  color: white;
  background: #07003a;
  cursor: pointer;
  transition: 300ms;
}
.buttonX:hover{
  background: #04012b;
}
